<!DOCTYPE html>
<html>
  <head>
    <title>DevMegle - Pokój 3</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!-- <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <style>
      body { 
        margin: 0; 
        padding-bottom: 3rem;
        /* font-family: 'Ubuntu', sans-serif; */
        font-family: 'Fira Sans', sans-serif !important; 
        color: white;
        background-color: #222831;
      }

      #form { 
        background-color: #393e46;
        position: fixed; 
        bottom: 0; 
        left: 0; 
        right: 0; 
        display: flex; 
        height: 3rem; 
        box-sizing: 
        border-box; 
        backdrop-filter: 
        blur(10px); 
        height: 50px;
        padding-bottom: 2px;
        padding-top: 2px;
        margin-top: 10px;
      }
      #input { 
        border: none; 
        padding: 5px 1rem; 
        flex-grow: 1; 
        border-radius: 12px; 
        margin: 0.25rem; 
        resize: none;
        overflow: hidden;
      }
      #input:focus { 
        outline: none; 
      }

      #messages { 
        list-style-type: none; 
        margin-top: 10px; 
        padding: 0; 
      }
      .messageBox { 
        padding: 0.5rem 1rem; 
        margin-bottom: 10px;
        border-radius: 13px;
        margin-left: 50px;
        width: 100%;
        max-width: 700px;
        height: 100%;
        margin-right: 30px;
        word-wrap: break-word;
        background-color: #5500d3;
      }
      .code {
        background: #222831;
        padding: 5px 10px;
        border-radius: 6px;
        width: 100%;
        max-width: 500px;
        min-width: 500px;
        word-wrap: break-word;
        font-family: "Liberation Mono", "Courier New", monospace;
        color: red;
      }
      minidate {
        color: rgb(182, 182, 182);
        font-size: 13px;
        font-weight: 300 !important;
      }
      user {
        color: rgb(248, 248, 248);
      }
      .avatarMessage {
        border-radius: 50%;
      }
    </style>
    <style>
        ::-moz-selection { background: rgb(0, 0, 0); color:rgb(255, 255, 255); }
        ::selection { background: rgb(0, 0, 0); color:rgb(255, 255, 255);}

        ::-webkit-scrollbar {
            width: 20px;
          }
        
        ::-webkit-scrollbar-track {
          background-color:rgb(0, 0, 0);
        }

        ::-webkit-scrollbar-thumb {
          background: rgb(255, 255, 255); 
          border-radius: 10px;
        }
        
        ::-webkit-scrollbar-thumb:hover {
          background: #ffffff; 
        }
        .errort {
          top: 0;
          text-align: center;
          margin-top: 30px;
          background-color: red;
          border-radius: 12px;
          margin-left: 800px;
          margin-right: 800px;
          padding: 10px 0px;
        }
        .btnn {
          color: white !important;
          background-color: rgb(98, 0, 255);
          border: none;
          padding: 0px 20px;
          margin-top: 2px;
          margin-bottom: 2px;
          border-radius: 12px;
          transition: 0.2s all ease-in-out; 
        }
        .btnn:hover {
          background-color: rgb(85, 0, 221);
          -webkit-box-shadow: 0px 0px 43px -10px #5500DD; 
          box-shadow: 0px 0px 43px -10px #5500DD;
        }
        nav {
          top: 0;
          padding: 20px 50px;
          text-align: center;
          background: rgb(132,55,255);
          background: radial-gradient(circle, rgba(132,55,255,1) 0%, rgba(85,0,211,1) 100%);
        }
        .pokojButton {
          color: white;
          text-decoration: none !important;
          transition: 0.3s all ease-in-out;
          margin-right: 30px;
          cursor: pointer;
        } 
        .pokojButton:hover {
          color: rgb(192, 192, 192);
          transition: 0.3s all ease-in-out;
        }
        .activePokojButton {
          color: rgb(197, 197, 197);
          text-decoration: none !important;
          transition: 0.3s all ease-in-out;
        }
        a {
          color: white;
          text-decoration: none !important;
        }
        a:hover {
          color: rgb(182, 182, 182);
        }
    </style>
  
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <nav class="w3-animate-top">
        <span onclick="Pokoj1()" class="pokojButton">
          Pokój 1
        </span>
        <span onclick="Pokoj2()" class="pokojButton">
          Pokój 2
        </span>
        <span onclick="Pokoj3()" class="pokojButton activePokojButton">
          Pokój 3
        </span>
        <span onclick="Pokoj4()" class="pokojButton">
          Pokój 4
        </span>
    </nav>
      <div id="ed" class="errort w3-animate-opacity"  style="display: none;">
        <span id="errortolength">Tekst ma powyżej 1000 znaków</span>
      </div>
      <div id="messages"></div>
      <form id="form" class="w3-animate-bottom" action="">
        <input type="text" name="input" autocomplete="off" id="input" placeholder="Napisz wiadomość....."><button class="btnn">Wyślij</button>
      </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      function Pokoj1() {
        window.location.replace('<%= linkDomain %>chat/pokoj-1?username=<%= user %>&avatarURL=<%= avatar %>')
      }
      function Pokoj2() {
        window.location.replace('<%= linkDomain %>chat/pokoj-2?username=<%= user %>&avatarURL=<%= avatar %>')
      }
      function Pokoj3() {
        window.location.replace('<%= linkDomain %>chat/pokoj-3?username=<%= user %>&avatarURL=<%= avatar %>')
      }
      function Pokoj4() {
        window.location.replace('<%= linkDomain %>chat/pokoj-4?username=<%= user %>&avatarURL=<%= avatar %>')
      }
  
    </script>
      <script>
        var socket = io();
        var random = Math.floor(Math.random() * 111000)
        var messages = document.getElementById('messages');
        var form = document.getElementById('form');
        var input = document.getElementById('input');
        var err = document.getElementById('errortolength');
        var err2 = document.getElementById('ed');
        form.addEventListener('submit', function(e) {
          e.preventDefault();
          var InputLength = input.value.length
          if (input.value) {
            err2.style.display = "none";
            if (InputLength < 1000)
            {
              var myDate = new Date().toTimeString().replace(/.*(\d{2}:\d{2}:\d{2}).*/, "$1");
              socket.emit('chat messageee', '<img class="avatarMessage" src="<%= avatar %>" height="32px"> <user>' + '<%= user %>' + '</user>  <span class="badge bg-warning text-dark"><%= dsadandawner34281dabsjajshda %></span> <minidate>' + myDate + '</minidate>' + '<br>' + input.value);
              input.value = '';
            }
            else {
              err2.style.display = "block";
            }
          }
        });
        socket.on('chat messageee', function(msg) {
          var comment = document.createComment('New message')
          var item = document.createElement('div');
              item.classList.add('messageBox')
            item.classList.add('w3-animate-left')
          var myDate = new Date().toTimeString().replace(/.*(\d{2}:\d{2}:\d{2}).*/, "$1");
          //item.textContent = myDate + '<br>'+ msg;
          item.innerHTML = msg;
          messages.appendChild(comment);
          messages.appendChild(item);
          window.scrollTo(0, document.body.scrollHeight);
          console.log('New message')
        });
      </script>
  </body>
</html>
